.form1{
    background-color: rgb(7, 140, 235);
 width: 380px;
 height: 320px;
 text-align: center;
}
.form2{
    background-color: rgb(235, 7, 7);
    width: 380px;
    height: 480px;
    margin-top: 250px;
    
 
}
.form3{
 
    background-color: rgb(228, 235, 7);
    width: 380px;
    height: 290px;
    margin-top: 250px;

}



